.profile__section-subtitle {
    width: 80%;
    font-size: 18px;
    color: #999;
}

@media screen and (max-width: 767px)  {
    .profile__section-subtitle {
        width: 100%;
        text-align: center;
    }
}
