@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/wrapper/wrapper.css);
@import url(./blocks/content/content.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__image/header__image.css);

@import url(./blocks/navbar/navbar.css);
@import url(./blocks/navbar/__links/navbar__links.css);
@import url(./blocks/navbar/__link/navbar__link.css);

@import url(./blocks/post/post.css);
@import url(./blocks/post/__content/post__content.css);
@import url(./blocks/post/__id/post__id.css);
@import url(./blocks/post/__title/post__title.css);
@import url(./blocks/post/__body/post__body.css);
@import url(./blocks/post/_btn/post__btn.css);


.post__add-button {
  align-self: center;
  background: none;
  /* background-image: url(d86bb2edc2f6eadb96b7.svg); */
  /* background-position: 50%;
  background-repeat: no-repeat; */
  background-color: #E50000;
  border: 2px solid #E50000;
  border-radius: 2px;
  cursor: pointer;
  height: 50px;
  min-width: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 0;
}


.remove-btn {
  margin-right: 0.5rem;
}




.page__wrapper {
  margin-top: 30px;
  display: flex;
}

/* .page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
} */

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}



.navbar__links {
  margin-left: auto;

}